.header {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 100px;
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
  padding-bottom: 0px;
}

.headerText {
  padding-right: 30px;
}

.headerText h1 {
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.imageContactContainer {
  max-width: 250px;
}

.headerImage {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}
