.portfolio {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 1fr);
}

/* TODO 
  Refactor be responsive based on screen width
  grid-template-columns: repeat(3, minmax(300px, 1fr));


  https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/
*/
