.project {
  margin: 20px;
  padding: 20px;
  height: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: darkcyan;
  color: white;
}

.imageContainer {
  position: relative;
  max-height: 50px;
  z-index: 1;
  opacity: 0.2;
}

.description {
  position: relative;
  z-index: 10;
}

.links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
  z-index: 11;
}

.button {
  border-radius: 30px;
  padding: 10px;
  background: white;
  z-index: 11;
  outline: none;
}
.background {
  /* background: lightslategray; */
}
